@mixin full-size {
  height: 100%;
  width: 100%;
}

@mixin centered-flex {
  display: flex;
  align-items: center;
}

@mixin baseline-flex {
  display: flex;
  align-items: baseline;
}

@mixin flex-spaced {
  display: flex;
  justify-content: space-between;
}

@mixin flex-centered-justified {
  display: flex;
  justify-content: center;
  align-items: center;
}
