$main-color: #f8f8f8;
$accent-color: #cd1212;
$text-color: #000;
$light-color: #f1f1f1;
$very-light-color: #fff;
$semi-dark-color: #808080;
$list-item-color: #ababab;
$elements-color: rgba(200, 200, 200, 0.46);
$border-color: #c8c8c8;

$font-small: 1.17em;
$font-middle: 1.25em;
$font-middle-plus: 1.33em;
$font-half-size: 1.5em;
$font-big: 1.58em;
$font-huge: 6.66em;

