.card {
  background-color: $main-color;
  margin: auto;
  overflow: hidden;
  padding: 45px 45px 0;
  animation: 1s appear;

  &__contacts {
    display: flex;
    padding-left: 280px;
    font-size: $font-middle;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $accent-color;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    left: 0;
  }

  &__lang-main-wrapper {
    position: relative;
    left: -70px;
    top: 200px;
  }

  &__menu-wrapper {
    position: relative;
    margin-right: 100px;
  }

  &__list-wrapper {
    @include baseline-flex;
  }

  &__menu {
    @include flex-spaced;
    margin-top: 30px;
    position: relative;
    top: -30px;
  }

  &__language--english {
    background-color: $main-color;
    border-style: none;
  }

  &__languages-dropdown {
    display: flex;
    margin: 80px 0;
  }

  &__languages-content {
    display: flex;
    opacity: 0;
    color: $text-color;
    transition: opacity 1s linear;
  }

  &__languages-dropdown:hover .card__languages-content {
    @include centered-flex;
    opacity: 1;
  }

  &__language {
    margin-right: 15px;
    font-size: $font-middle-plus;
    opacity: 0.7;

    &:hover {
      cursor: pointer;
      color: $accent-color;
    }
  }

  &__image {
    @include full-size;
  }

  &__image1 {
    @include full-size;
  }

  &__opening {
    position: absolute;
    @include centered-flex;
    width: 237px;
    bottom: 0;
    height: 122px;
    font-size: $font-middle;
    justify-content: center;
    line-height: 153%;
    text-transform: uppercase;
    background-color: $accent-color;
    z-index: 2;
  }

  &__opening-text {
    position: relative;
    color: $very-light-color;
    text-decoration: none;

    &::after {
      position: absolute;
      background-color: $very-light-color;
      content: '';
      bottom: -8px;
      height: 1px;
      left: 0;
      transition: width 0.5s ease-out;
      width: 30%;
    }
  }

  &__opening-text:hover::after {
    width: 100%;
  }
}

@keyframes movement {
  from {
    transform: translateX(900px);
  }

  to {
    transform: translateX(0);
  }
}
