.contacts {
  &__title {
    display: inline-block;
    position: relative;
    cursor: pointer;
    animation: title 1s 1;

    &::before {
      position: absolute;
      width: 100%;
      content: '';
      height: 1px;
      left: 0;
      bottom: 12px;
      background-color: $accent-color;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.5s ease-out;
    }

    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &__button {
    position: relative;
    @include flex-centered-justified;
    top: -5px;
    width: 37px;
    height: 37px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: $light-color;
    border-style: none;
    color: $accent-color;
    z-index: 2;

    &:after {
      content: '\00D7';
      color: $accent-color;
      font-size: $font-big;
      font-weight: bold;
      transform: rotate(45deg);
      transition: transform 1s;
      z-index: 3;
    }

    &:hover:after {
      transform: rotate(90deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }


  &__line {
    height: 1px;
    margin-top: 23px;
    width: 80%;
    background-color: $elements-color;
  }

  &__content {
    position: absolute;
    display: flex;
    left: 22px;
    margin-right: 5px;
    opacity: 0;
    background-color: $light-color;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transition: opacity 1s linear;
    z-index: 1;
  }

  &__dropdown {
    display: inline-block;
    position: relative;
    animation: title 1s 1;
  }

  &__dropdown:hover .contacts__content {
    opacity: 1;
  }

  &__messengers-item {
    display: block;
    padding: 8px 10px;
  }

  &__item {
    padding: 8px 10px;
  }

  &__svg {
    fill: $semi-dark-color;
  }

  &__svg-small {
    fill: $very-light-color;
  }

  &__messengers-item:hover .contacts__svg {
    fill: $accent-color;
  }
}

@keyframes title {
  from {
    bottom: -20px;
  }

  to {
    bottom: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
