.list {
  display: flex;
  font-size: $font-small;
  gap: 86px;
  padding-right: 400px;

  &__item {
    background-color: $main-color;
    border-style: none;
    color: $elements-color;
    display: flex;
    padding: 5px;
    position: relative;

    &::after {
      background-color: $accent-color;
      border-radius: 50%;
      content: '';
      display: none;
      height: 2px;
      left: 100%;
      position: absolute;
      top: 15px;
      width: 2px;
    }

    &:hover {
      color: $accent-color;
      cursor: pointer;
    }

    &:hover::after {
      display: block;
    }
  }

  &__item--1 {
    animation: list_item 0.5s 1;
  }

  &__item--2 {
    animation: list_item 0.8s 1;
  }

  &__item--3 {
    animation: list_item 1.2s 1;
  }

  &__item--4 {
    animation: list_item 1.5s 1;
  }
}

@keyframes list_item {
  from {
    bottom: -30px;
  }

  to {
    bottom: 0;
  }
}
