.main {
  &__list {
    list-style: none;
    text-transform: uppercase;
    color: $text-color;
  }

  &__item {
    position: relative;
    color: $text-color;
    font-size: $font-half-size;
    opacity: 0.7;
    text-decoration: none;
    background-color: $main-color;
    animation: slow_moving_up 1s 1;

    &::before {
      bottom: 0;
      content: '';
      height: 1.5px;
      left: 0;
      width: 0;
      opacity: 0.7;
      position: absolute;
      background-color: $text-color;
      transition: width 0.5s ease-out;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__item-effects {
    position: relative;
    margin-bottom: 16px;
    background-color: $main-color;
  }

  &__item-no-effects {
    margin-bottom: 16px;
    text-decoration: underline;
  }

  &__item--projects::after {
    color: $accent-color;
    content: ' .52';
  }

  &__item-home {
    position: relative;
    opacity: 0.7;
    font-size: $font-half-size;
    text-decoration: none;
    background-color: $main-color;
    color: $text-color;
    animation: slow_moving_up 1s 1;
  }
}

@keyframes slow_moving_up {
  from {
    bottom: -50px;
  }

  to {
    bottom: 0;
  }
}
