
.navigation {
  display: flex;
  flex-direction: column;

  &__button,
  &__button--left {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    border: 1px solid $border-color;
    margin-bottom: 17px;
    background-color: $main-color;

    &:hover {
      background-color: $accent-color;
      transition-duration: 0.5s;
    }

    &:hover .navigation__svg,
    &:hover .navigation__svg--left {
      fill: $very-light-color;
      transition-duration: 0.5s;
    }
  }

  &__button--left {
    transform: scale(-1, 1);
  }

  &__svg--left,
  &__svg {
    fill: $text-color;
  }
}
