@font-face {
  font-family: 'FavoritTrial';
  src: url('./fonts/FavoritTrialStd-Book.woff') format('woff'),
    url('./fonts/FavoritTrialStd-Book.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'FavoritTrial';
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  padding: 0;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

