.swiper-wrapper {
  height: 525px !important;
  margin-top: 10px;
  width: 970px !important;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-container {
  display: flex;
  justify-content: flex-end;
}
