.title {
  @include baseline-flex;
  animation: slow_moving_up 1.5s 1;
  line-height: 5.2em;
  position: relative;


  &__name {
    font-size: $font-huge;
    letter-spacing: -4px;
    color: $text-color;
  }

  &__subtitle {
    font-size: $font-middle-plus;
  }
}

@keyframes slow_moving_up {
  from {
    bottom: -80px;
  }

  to {
    bottom: 0;
  }
}
